.HeroSection {
  background-image: url('../../assets/HeroBackground.svg');
  background-size: cover;
}

.HeroTopLayer {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.HeroHeaders {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.CompanyName {
  font-family: Instrument Sans;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 600;
}
.H1 {
  margin: 0;
  font-size: 96px;
  font-family: Instrument Sans;
  filter: drop-shadow(12px, 15px, 11px, #00000025);
}