.HeroSection {
  clip-path: content-box;
  
  height: 980px;
}

.HeroBackgroundImage {
  z-index: 0;
  position: absolute;
  justify-content: center;
  width: 100%;
  
  filter: brightness(80%) blur(7px);
  
}

.HeroBackgroundImage img {
  height: 51vw;
  object-fit: contain;
}

.ComputerDesign {
  margin-top: 250px;
  z-index: 2;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  filter:  blur(1px);
}

.HeroTopLayer {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
  
}

.HeroHeaders {
  display: flex;
  flex-direction: column;
  gap: 67px;
}

.CompanyName {
  font-family: Instrument Sans;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 600;
  margin-top: 140px;
  filter: drop-shadow(5px 7px 11px #00000050);
}
.H1 {
  margin: 0;
  font-size: 96px;
  font-family: Instrument Sans;
  filter: drop-shadow(12px 15px 11px #00000050);
}

.HeroParagraph {
  margin-top: 300px;;
  font-size: 36px;
  font-family: Instrument Sans;
  font-weight: 600;
  filter: drop-shadow(5px 20px 11px #00000050);
}

.HeroCTA {
  justify-content: center;
  filter: drop-shadow(0px 0px 10px #d9ff0180);
}

.HeroSectionGrid {
  position: absolute;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 0px;
  gap: 15px;
  z-index: 1;
}

.HeroSectionBox {
  width: 300px;
  height: 300px;
  box-shadow: inset 0px 0px 20px #ffffff05, 0px 0px 20px #ffffff05;
  background-color: #ffffff05;
  border-radius: 15px;
}

.LogoInBox {
  justify-content: center;
  align-content: center;
}
.BackgroundLogos {
  filter: opacity(30%);
}

.ProcessSectionHeader {
  display: flex;
  margin-left: 175px;
  gap: 50px;
  align-items: center;
}

.ProcessHeader {
  font-size: 64px;
  font-family: Instrument Sans;
  font-weight: 600;
  filter: drop-shadow(5px 20px 11px #00000050);
}

.Process-Item {
  width: 300px;
  height: 300px;
  box-shadow: inset 0px 0px 20px #ffffff05, 0px 0px 20px #ffffff05;
  background-color: #ffffff05;
  border-radius: 15px;
}

.ProcessDiagram {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 0px;
  gap: 15px;
  z-index: 1;
}

.ProcessDiagram p {
    color: #87C440;
    font-size: 36px;
    font-family: Instrument Sans;
    font-weight: 600;
    filter: drop-shadow(5px 20px 11px #00000050);
  
}

.MultiLogo2 {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.MultiLogo2 img {
  height: 50px;
}

.MultiLogo4 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.MultiLogo4 img {
  height: 50px;
}

.DottedLine {
  margin-top: 60px;
  width: 68%;
  margin-bottom: 30px;
}

.Process-Paragraph {
  font-size: 24px;
  font-family: Instrument Sans;
  font-weight: 600;
  text-align: left;
  margin-left: 175px;
  margin-right: 175px;
}

.ProjectsSection {
  margin-top: 100px;
  justify-items: left;
  margin-left: 175px;
  margin-right: 175px;
}

.ProjectsSection h2 {
  font-size: 64px;
  font-family: Instrument Sans;
  font-weight: 600;
  filter: drop-shadow(5px 20px 11px #00000050);
}

.ProjectsHeader {
  display: flex;
  align-items: center;
  gap: 50px;
}

.Project-Item {
  display: none;
  width: auto;
  padding: 60px;
  box-shadow: inset 0px 0px 20px #5eff0045, 0px 0px 20px #5eff0005;
  background-color: #ffffff05;
  border-radius: 15px;
  justify-items: left;
  align-content: center;
  text-align: left;
  margin-top: 50px;
}

.Project-Item a {
  width: 50%;
}

.Project-Item img {
  width: 100%;
  margin-left: 15px;
  border-radius: 15px;
  filter: drop-shadow(-15px 15px 0px #2A933C);
}

.Project-Item p {
    font-size: 24px;
    font-family: Instrument Sans;
    font-weight: 600;
}

.Project-Item h4 {
    color: #87C440;
    font-size: 42px;
    font-family: Instrument Sans;
    font-weight: 600;
    filter: drop-shadow(5px 20px 11px #00000050);
    margin: 0;
}

.Project-Content {
  display: flex;
  gap: 50px;
  align-items: center;
}
.Project-Content p {

  font-weight: 500;
}

.Project-Text {
  display: block;
  
  width: 50%;
}

.Project-Text h5 {

    font-size: 42px;
    font-family: Instrument Sans;
    font-weight: 600;
    filter: drop-shadow(5px 20px 11px #00000050);
    margin: 0;
}


















.Aspirations {
  margin-top: 100px;
  gap: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;

}

.AspirationsTitle {
  display: flex;
  align-items: center;
  
}

.AspirationsInformation {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
}

.AspirationOne {
    width: 33%;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
    url('../../assets/Tranquilo Cafe Landing Page.png');
  background-size: cover;
  background-repeat: no-repeat;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    text-align: right;
    height: 60vh;
}




.AspirationOne h4{
text-align: center;
text-shadow: none;
padding-right: 10px;
padding-left: 10px;
}

.AspirationTwo h4{
text-align: center;
text-shadow: none;
padding-right: 10px;
padding-left: 10px;
}

.AspirationThree h4{
text-align: center;
text-shadow: none;
padding-right: 10px;
padding-left: 10px;
}


.AspirationOne h5{
text-shadow: none;
color: #000;
}

.AspirationTwo h5{
text-shadow: none;
color: #000;
}

.AspirationThree h5{
text-shadow: none;
color: #000;
}



.TimelineOne {
background-color: #2D2D2D ;
text-align: center;
 }

.AspirationTwo {
  width: 34%;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
    url('../../assets/CJ Stones Landing Page.png');
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 2px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  height: 60vh;
}

.AspirationTwo i {
  font-size: 100px;
  color: #fff;
  padding-right: 20px;
  cursor: pointer;
}
.AspirationThree i {
  font-size: 100px;
  color: #fff;
  padding-right: 20px;
  cursor: pointer;
}
.AspirationOne i {
  font-size: 100px;
  color: #fff;
  padding-right: 20px;
  cursor: pointer;
}

.AspirationThree {
  width: 33%;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
    url('../../assets/Premier Dental Landing Page.png');
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 2px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  height: 60vh;
  margin: 0;
  overflow: hidden;
}

@keyframes open {
  from {width: 0%; color: #e0e0e0;}
  to {width: 80%; color: #000;}
}

@keyframes close {
  from {width: 80%; color: #000; padding: 25px;}
  to {width: 0%; display: none; color: #e0e0e0; padding: 0px;}
}

.JIclosed { 
display: block;
height: 60vh;
width: 0%;
animation-name: close;
animation-direction: normal;
animation-duration: 1.25s;
}
.JIopen{ 
display: block;
width: 80%;
height: auto;
animation-name: open;
animation-duration: 1.25s;
animation-direction: normal;
padding: 25px;
}



.JobInfo {
overflow: hidden;
background-color: #e0e0e0;
color: #000;
font-family: Instrument Sans;
text-align: left;
}

.JobInfo h5 {
  font-size: 28px;

}

.JobInfo h6 {
  font-size: 24px;
  margin: 0;
}
.JobInfo p {
  font-size: 16px;
}

.AspirationOne h4 {
  font-family: Instrument Sans;
  font-size: 30px;
}
.AspirationTwo h4 {
  font-family: Instrument Sans;
  font-size: 30px;
}

.AspirationThree h4 {
  font-family: Instrument Sans;
  font-size: 30px;
}


.AspirationOne h5 {
  font-family: Instrument Sans;
}

.JobList {
font-family: Instrument Sans;
margin-top: 15px;
display: flex;
flex-direction: column;
gap: 5px;
font-size: 20px;
}
.TimelineButtonContainer {
display: flex;
flex-direction: column;
gap: 25px;
}

.SeeMore {
  background-color: #fff;
  color: #2D2D2D;
  border-radius: 0px;
  border-color: #2D2D2D;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  transition: 0.25s;
}

.SeeMore:hover {
  background-color: #2A933C;
  color: #fff;
  transition: 0.25s;
}

.Focused {
  background-color: #2A933C;
  color: #fff;
}

.CTA-Alt {
  color: #fff ;
  background-color: #0B4B25;
  border-radius: 15px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-family: Instrument Sans;
  font-weight: 600;
  font-size: 18px;
  transition: 0.25s;
}

.CTA-Alt:hover {
  background-color: #2A933C;
  color: #fff;
  transition: 0.25s;
}



.Innovo-Pro-Story {
  display: flex;
  margin-right: 175px;
  margin-left: 175px;
  margin-top: 100px;
  gap: 90px;
  align-items: center;
}

.StoryPhoto {
  filter: drop-shadow(15px 15px 0px #2A933C);
  border-radius: 25px;
}

.StoryInfo {
  text-align: left;
}

.StoryInfo h3 {
  margin-top: 45px;
  margin-bottom: 45px;
  font-size: 64px;
  font-family: Instrument Sans;
  font-weight: 600;
  filter: drop-shadow(5px 20px 11px #00000050);
}
.StoryInfo p {
  font-size: 20px;
  font-family: Instrument Sans;
  font-weight: 600;
  margin-bottom: 45px;
}