.Portfolio {
    display: flex;
    overflow: hidden;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    font-family: Instrument Sans;
}
.Menu {
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    width: 25%;
    margin-bottom: 25px;
    text-align: left;
    list-style: none;
    justify-content: space-between;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    
}
.Menu li {
    padding: 15px;
    box-shadow: inset 0px 0px 20px #ffffff05,  0px 0px 10px #87C44050 ;
    background-color: #ffffff05;
    border-radius: 15px;
    font-family: Instrument Sans;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 10px;
    
}
.Menu li:hover {
    background-color: #87C44070;
    cursor: pointer;
    transition: 0.5s;
}
.Content {
    width: 75%;
    margin-top: 100px;
    margin-bottom: 25px;
    overflow: scroll;
    scrollbar-width: 10px;
    scrollbar-color: #87C440 #ffffff;
    scrollbar-border-radius: 15px;
    border-radius: 15px;
    color: white;
    overflow-x: hidden;
}

.Header {
    display: flex;
    align-items: center;
    gap: 20px;
    
}
 .Header img {
    width: 50px;
    height: 50px;
 }
 h1 {
   font-size: 64px;
   font-family: Instrument Sans;
 }

h2 {
   font-size: 36px;
   font-family: Instrument Sans;
   margin: 5px;
 }

 

.BreadcrumbIMG {
    width: 100%;
    
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Conclusion {
    margin-top: 50px;
    font-size: 28px;
    text-align: center;
}



.ContactIcons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.Contact-Icon img {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.Contact-Icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    gap: 0px;
    transition: 0.3s;

    .ContactLine {
      display: block;
      transition: 0.5s;
      width: 0%;
      background-color: #000000;
      height: 2px;
    }


}

.Contact-Icon:hover {
    color: #0d5000;
    transition: 0.5s;

    img {
        width: 250px;
        height: 250px;
        transition: 0.5s;
    }

    .ContactLine {
    display: block;
    transition: 0.5s;
    width: 50%;
    background-color: #0d5000;
    height: 2px;
  }
}




