.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 50px;
    gap: 200px;
}

.CenteringNav {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image: linear-gradient(#303030, #00000000);
}

.CenterNav {
    display: flex;
    gap: 120px;
}

.NavItem {
    color: white;
    font-size: 18px;
    font-family: Instrument Sans;
    font-weight: 600;
}

