.NavBar {
    display: flex;
    background-image: linear-gradient(#303030, #00000000);
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 50px;
    z-index: 2;
}

.CenterNav {
    display: flex;
    gap: 120px;
}

.NavItem {
    color: white;
    font-size: 18px;
    font-family: Instrument Sans;
    font-weight: 600;
}

.NavCTA {
     color: #0B4B25 ;
     background-color: white;
     border-radius: 15px;
     padding-left: 35px;
     padding-right: 35px;
     padding-bottom: 15px;
     padding-top: 15px;
     font-family: Instrument Sans;
     font-weight: 600;
     font-size: 18px;
}
