.NavBar {
    top: 0;
    position: sticky;
    display: flex;
    background-image: linear-gradient(#303030, #00000000);
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 50px;
    z-index: 2;
    gap: 300px;
}

.CenterNav {
    display: flex;
    gap: 120px;
}

.NavItem {
    color: white;
    font-size: 18px;
    font-family: Instrument Sans;
    font-weight: 600;
}

