.Intro {
    font-family: Instrument Sans;
}

.CJS-Content {
   color: #3A3436;
   background-color: white;
   height: auto;
   padding-bottom: 20px;
}

#CJStonesHeader {
    padding: 20px;
    background: linear-gradient(to left, #504412, #3A3436);
    color: white;
}


.ProjectOverview {
    margin-top: 50px;
    text-align: left;
}

.ProjectOverview h2 {
    font-size: 36px;
    font-family: Instrument Sans;
    margin: 0 !important;
    padding: 20px ;
}

.ProjectOverview p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    padding: 50px ;
}

.ProjectOverview h3 {
    font-size: 24px;
    font-family: Instrument Sans;
    margin-top: 20px;
    padding: 20px ;
}

.ProjectOverview ol {
    
    font-size: 18px;
    line-height: 1.8;
}

.HeaderImage {
    width: 100%;
    height: auto;
    
}

.ToolsUsed {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px ;
    flex-wrap: wrap;
}

.ToolsUsed img {
    height: 100px;
    width: auto;
}

.ProjectDeliverables {
    text-align: left;
    margin-top: 50px;
}


.ProjectDeliverables h2 {
    font-size: 36px;
    font-family: Instrument Sans;
    margin: 0 !important;
    padding: 20px ;
}

.ProjectDeliverables p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    padding: 50px ;
}

.ProjectDeliverables h3 {
    font-size: 24px;
    font-family: Instrument Sans;
    margin-top: 20px;
    padding: 20px ;
}

.ProjectDeliverables ol {
    
    font-size: 18px;
    line-height: 1.8;
}


.CJStonesLogo {
    width: 100%;
    height: 35vh;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.CJStonesLogoVideo {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
    
}

.UseCaseImages {
    display: flex;
    width: 100%;
    height: 55vh;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    
}
.UseCaseImages img {
    width: 33%;
    height: 100%;
    object-fit: cover;
}

.SearchPhoto {
    filter: drop-shadow(#00000050 -5px 5px 8px);
    border-radius: 10px;
    margin-left: 50px;
    
}

.SEOChart {
    filter: drop-shadow(#00000050 -5px 5px 8px);
    border-radius: 10px;
    margin-left: 150px;
    
}

.CJStonesWebsite {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CJS-Nav-Button {
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #87C44070;
    border-radius: 8px;
    transition: 0.3s;
}
.CJS-Nav-Button:hover {
    background-color: #87C440;
    color: white;
    transition: 0.3s;
}

 .WebsiteLink {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #87C440;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: Instrument Sans;
    justify-content: bottom;
    transition: 0.3s;
    z-index: 10;
 }

 .WebsiteLink:hover {
    background-color: #437910;
    transition: 0.3s;
    color: white;
 }


.StoneImages {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto ;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.StoneImages img {
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: #00000050 0px 0px 8px;
}
