.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 150px;
    gap: 150px;
}

.CenteringNav {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image: linear-gradient(#303030, #00000000);
}

.CenterNav {
    display: flex;
    gap: 120px;
}

.NavItem {
    color: white;
    font-size: 18px;
    font-family: Instrument Sans;
    font-weight: 600;
    transition: 0.5s;
}

.NavItem:hover {
    color: #dcffb4;
    border: 4px solid #87C440 ;
    border-radius: 4px;
    transition: 0.5s;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.Logo {
    cursor: pointer;
}

.MobileNav {
    display: none;
}



  .Nav-Column {
    display: flex;
    flex-direction: column;
  }
  .Mobile-Nav-List {
    display: none;
  }

  .Mobile-Animation-1 {
    filter: opacity(0%);
    animation-name: Child-Animation;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  
  @keyframes Child-Animation {
    from {
        transform: translateX(400px);
        filter: opacity(0%);
    }
    to {
      transform: translateX(0px);
      filter: opacity(100%);
    }
  
  }
  @keyframes Child-Animation2 {
    from {
        transform: translateX(0px);
        filter: opacity(100%);
    }
    to {
      transform: translateX(400px);
      filter: opacity(0%);
    }
  
  } 



  

  .Mobile-Animation-2 {
    transform: translateX(400px);
    filter: opacity(0%);
    animation-name: Child-Animation;
    animation-duration: 0.75s;
    animation-delay: 0.25s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .Mobile-Animation-3 {
    transform: translateX(400px);
    filter: opacity(0%);
    animation-name: Child-Animation;
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .Mobile-Animation-4 {
    transform: translateX(400px);
    filter: opacity(0%);
    animation-name: Child-Animation;
    animation-duration: 0.75s;
    animation-delay: 0.75s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .Mobile-Animation-5 {
    transform: translateX(400px);
    filter: opacity(0%);
    animation-name: Child-Animation;
    animation-duration: 0.75s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .Mobile-Animation-1-Reverse {
    transform: translateX(0px);
    animation-name: Child-Animation2;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .Mobile-Animation-2-Reverse {
    transform: translateX(0px);
    animation-name: Child-Animation2;
    animation-duration: 0.75s;
    animation-delay: 0.25s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .Mobile-Animation-3-Reverse {
    transform: translateX(0px);
    animation-name: Child-Animation2;
    animation-duration: 0.75s;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .Mobile-Animation-4-Reverse {
    transform: translateX(0px);
    animation-name: Child-Animation2;
    animation-duration: 0.75s;
    animation-delay: 0.75s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .Mobile-Animation-5-Reverse {
    transform: translateX(0px);
    animation-name: Child-Animation2;
    animation-duration: 0.75s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  
 

  .closed {
    filter: opacity(100%);
    animation-name: Close-Menu;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
@keyframes Close-Menu  {
  from {
    filter: opacity(100%);
    display: block;
  }
  to {
    filter: opacity(0%);
    display: none;
  }
}

  




@media only screen and (min-width: 1375px) {

.NavBar {
    gap: 200px;
}



.CenterNav {
    display: flex;
    gap: 120px;
}
.Nav-Column {
    display: none;
}


}


@media only screen and (max-width: 1375px) {

    .CenterNav {
        display: flex;
        gap: 50px;
    }
.NavBar {
        gap: 70px;
    }
    .Nav-Column {
        display: none;
    }

    }



  @media only screen and (max-width: 915px) {
    .NavBar {
        display: none;
    }
    .CenteringNav {
        flex-direction: column;
        width: 100%;
    }
    .MobileNav {
        display: flex;
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 55px;
        
      }
      .Mobile-Nav-List {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 15px;
        margin-top: 25px;
        padding-bottom: 150px;
      }
      .Mobile-Nav-Item {
        color: white;
        padding: 15px;
        border-radius: 15px;
        margin-left: 25px;
        margin-right: 25px;
        background-color: #2A933C;
      }
      .Mobile-Nav-Item:active {
        background-color: white;
        color: #2A933C;
        border-color: #87C440;
        border-width: 2px;
        border-style: solid;
      }
      .Mobile-Nav-Item:hover {
        background-color: white;
        color: #2A933C;
        border-color: #87C440;
        border-width: 2px;
        border-style: solid;
        transition: 0.5s;
        cursor: pointer;
      }

      

      .Burger {
        font-size: 50px;
        fill: #fff;
        cursor: pointer;
      }
  }
 

    
    
